-- Evolution script for SaaS management
ALTER TABLE public.saas_subscriptions ADD COLUMN IF NOT EXISTS payment_method text DEFAULT 'credit_card';
ALTER TABLE public.saas_subscriptions ADD COLUMN IF NOT EXISTS origin text DEFAULT 'site';
ALTER TABLE public.saas_subscriptions ADD COLUMN IF NOT EXISTS updated_at timestamp with time zone DEFAULT timezone('utc'::text, now());

ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS last_login_at timestamp with time zone;

